* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    color: white;
}

div.spa-page #nav-bar {
    position: fixed;
}

#page-wrap {
    width: 100%;
}

#wrap {
    background: linear-gradient(145deg, #0D47A1, #42A5F5);
}

#SPA {
    background: linear-gradient(145deg, #0D47A1, #42A5F5);
}

#left-column {
    background: white;
    float: left;
    width: 20%;
    padding: 2.5%;
    color: black;
    height: 100vh;
    line-height: 30px;
    padding-top: 86px;
    overflow-y: auto;
}


#right-column {
    background: linear-gradient(145deg, #0D47A1, #42A5F5);
    float: right;
    width: 70%;
    padding: 2.5%;
    height: 100vh;
    padding-top: 86px;
    overflow-y: auto;
}
#right-column h2{
    margin: 20px 0;
}
.info {
    padding: 30px 0;
}

ul {
    list-style: none;
}

li.headers.active {
    background: #8ec16d;
}

li.header li.products {
    display: none;
}

li.products {
    background: lightgray;
}

li.products.active {
    background: #8ec16d;
}

.hidden {
    display: none;
}


/*NAV BAR STYLE*/

div#nav-bar {
    position: relative;
    height: 56px;
    width: 100%;
    background: rgb(25, 118, 210);
    box-shadow: rgba(0, 0, 0, 0.239216) 0px 2px 5px 0px;
    top: 0px;
    z-index: 900;
    transition: background ease 1s;
}

#nav-bar div.nav-logo {
    height: 100%;
    float: left;
    height: 36px;
    padding: 10px 10px;
    width: 110px;
}

#nav-bar div.nav-logo img {
    width: 90%;
    padding-left:10%;
    height: 95%;
}

#nav-bar div.nav-logo img:hover {
    filter: none;
}

#nav-bar div.nav-logo:hover {
    background: #0166b7;
}

#nav-items {
    height: 0;
    transition: 1s width ease-in-out;
}

#nav-bar div.nav-left {
    float: left;
}

#nav-bar .fa:hover {
    color: #1976D2;
    background: white;
}

#nav-bar div.nav-right {
    float: right;
    height: 100%;
}

#nav-bar .fa-cog {
    cursor: pointer;
}

div#nav-bar li,
#nav-bar .fa-bars {
    display: inline-block;
    line-height: 56px;
    height: 100%;
    position: relative;
    min-width: auto;
    text-transform: uppercase;
    color: white;
}
#nav-bar .fa-bars:hover {
    background:white;
}
#nav-bar .fa-bars {
    display: none;
    padding-right:15px;
    padding-left:15px;
}

div#nav-bar li {
    font-size: 1.05em;
}

div#nav-bar li:hover {
    background: white;
    transition: background 0.2s;
    border: none;
}

div#nav-bar li a {
    color: white;
    text-decoration: none;
    line-height: 56px;
    display: inline-block;
    padding: 0 16px;
}

div#nav-bar li a:hover {
    color: #0166b7;
}


/*CUSTOMISE CONTROLS*/

#setPref {
    display: inline;
    height: 100%;
}

.options {
    display: none;
    top: 100%;
    background: rgb(25, 118, 210)!important;
    color: white;
    left: 0;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 6px 6px;
}

ul.options li {
    display: block!important;
    text-transform: capitalize!important;
}

ul.options li:hover {
    background: rgb(25, 118, 210)!important;
}

.expand {
    position: absolute!important;
    display: inline-block!important;
}

.open-color {
    background: #ffffff!important;
    color: #1976D2!important;
}


/*END NAV




/*START ANIMATIONS*/

.slide-animate-container {
    position: relative;
    background: rgb(25, 118, 210);
    border: 1px solid white;
    min-height: 400px;
    overflow: hidden;
}

.slide-animate {
    padding: 30px;
}

.slide-animate.ng-enter,
.slide-animate.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    padding: 30px;
}

.slide-animate.ng-enter {
    top: -100%;
}

.slide-animate.ng-enter.ng-enter-active {
    top: 0;
}

.slide-animate.ng-leave {
    top: 0;
}

.slide-animate.ng-leave.ng-leave-active {
    top: 100%;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 920px) {
    .clicked-navwrap {
        position: fixed;
        z-index: 999;
        left: 0;
        top: 56px;
        width: 100%!important;
        height: 100%!important;
        overflow: auto;
        overflow-x: hidden;
        background: rgb(25, 118, 210);
        transition: 1s width ease-in-out;
    }
    .clicked-colour {
        background: #2C3E50!important;
    }
    .clicked-li {
        display: block!important;
        width: 100vw!important;
        text-align: center!important;
        padding: 0px!important;
    }
    .clicked-left {
        float: none!important;
    }
    .clicked-right {
        float: none!important;
        height: auto!important;
    }
    .clicked-pref {
        position: relative!important;
        box-shadow: none!important;
        border-radius: 0!important;
    }
    
    #nav-items {
        width: 0px;
    }
    div#nav-bar li {
        display: none;
    }
    div#nav-bar li a {
        padding:0px;
        width:100%;
    }
    #nav-bar .fa-bars {
        display: inline-block;
        float: right;
    }
    #nav-bar div.nav-right .social,
    div#setPref {
        display: none;
    }
}

#mobile-toggle{
    /*display:none;*/
}

@media (max-width:720px){
    
#mobile-toggle{
    position:fixed;
    z-index:200;
    width:90%;
    height:30px;
    padding-top:66px;
    background:white;
    color:black;
    padding-left: 10%;
    border-bottom:2px solid black;
}
    #mobile-toggle i{
        margin-left:10px;
    }
   #left-column {
    float: none;
    position:absolute;
    z-index:100;
    width: 90%;
    padding: 5%;
    line-height: 30px;
    padding-top: 100px;
}
    .open-column{
        display: none;
    }

#right-column {
    float:none;
    width: 90%;
    padding: 5%;
    padding-top: 100px;
}
    
    
}

/*END MEDIA */