* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    color: white;
}

div.spa-page #nav-bar {
    position: fixed;
}

#page-wrap {
    width: 100%;
}

#wrap {
    background: linear-gradient(145deg, #0D47A1, #42A5F5);
}

#SPA {
    background: linear-gradient(145deg, #0D47A1, #42A5F5);
}

#left-column {
    background: white;
    float: left;
    width: 25%;
    color: black;
    height: 100vh;
    line-height: 30px;
    padding-top: 0px;
    overflow-y: auto;
}

.inner-left {
    padding: 0 5%;
}

#right-column {
    background: white;
    color: black;
    float: right;
    width: 75%;
    height: 100vh;
    padding-top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}

#right-column h2 {
    margin: 20px 0;
}

.info {
    padding: 30px 0;
}

#left-column ul li {
    list-style: none;
    padding: 5px;
    cursor: pointer;
}

#right-column ul {
    margin-left: 20px;
}

li.header li.products {
    display: none;
    padding-left: 50px;
}

li.products:hover {
    background: #7aa0bf;
    color: white;
    transition: 0.5s;
}

li.products {
    background: lightgray;
    border-top: 0.5px solid white;
    color: black;
}

li.products.active,
li.headers.active {
    background: #0166b7;
    color: white;
}

.hidden {
    display: none;
}

li.headers {
    border-top: 3px solid whitesmoke;
    margin-top: 5px;
}

.content-full {
    position: relative;
    width: 100%;
    direction: inline-block;
}


/*NAV BAR STYLE*/

div#nav-bar {
    position: relative;
    height: 56px;
    width: 100%;
    background: rgb(25, 118, 210);
    box-shadow: rgba(0, 0, 0, 0.239216) 0px 2px 5px 0px;
    top: 0px;
    z-index: 900;
    transition: background ease 1s;
}

#nav-bar div.nav-logo {
    height: 100%;
    float: left;
    height: 36px;
    padding: 10px 10px;
    width: 110px;
}

#nav-bar div.nav-logo img {
    width: 90%;
    padding-left: 10%;
    height: 95%;
}

#nav-bar div.nav-logo img:hover {
    filter: none;
}

#nav-bar div.nav-logo:hover {
    background: #0166b7;
}

#nav-items {
    height: 0;
    transition: 1s width ease-in-out;
}

#nav-bar div.nav-left {
    float: left;
}

#nav-bar div.nav-right {
    float: right;
    padding-top: 5px;
}

.nav-right li:hover {
    color: red;
}

div#nav-bar li,
#nav-bar .fa-bars {
    display: inline-block;
    line-height: 56px;
    height: 100%;
    position: relative;
    min-width: auto;
    text-transform: uppercase;
    color: white;
}

#nav-bar .fa-bars:hover {
    background: white;
}

#nav-bar .fa-bars {
    display: none;
    padding-right: 15px;
    padding-left: 15px;
}

#nav-bar li {
    font-size: 1.05em;
}

#nav-bar .nav-left li:hover {
    background: white;
    transition: background 0.2s;
    border: none;
}

#nav-bar li a {
    color: white;
    text-decoration: none;
    line-height: 56px;
    display: inline-block;
    padding: 0 16px;
}

#nav-bar .nav-right li a {
    padding: 0 8px;
}

div#nav-bar .nav-left li a:hover {
    color: #0166b7;
}

div#nav-bar .nav-right li a:hover {
    opacity: 0.6;
}


/*CUSTOMISE CONTROLS*/

#setPref {
    display: inline;
    height: 100%;
}

.options {
    display: none;
    top: 100%;
    background: rgb(25, 118, 210)!important;
    color: white;
    left: 0;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 6px 6px;
}

ul.options li {
    display: block!important;
    text-transform: capitalize!important;
}

ul.options li:hover {
    background: rgb(25, 118, 210)!important;
}

.expand {
    position: absolute!important;
    display: inline-block!important;
}

.open-color {
    background: #ffffff!important;
    color: #1976D2!important;
}

#selectProduct,
.info-top {
    margin-top: 56px;
    background: #0166b7;
    color: white;
    padding: 10px 0;
}

.info-top {
    min-height: 130px;
    border-bottom: 30px solid whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.239216) 0px 2px 5px 0px;
    min-height: 120px;
}

#selectProduct {
    padding-left: 5%;
}


/*END NAV*/


/*PRODUCT TYLE*/

div.content-width-wrap {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}

div.content-left {
    position: relative;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0;
    margin-right: 5%;
}

div.content-right {
    position: relative;
    width: 44%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 10px 0;
}

div.content-left img {
    max-width: 250px;
    padding: 0 5%;
    padding-bottom: 20px;
    max-height: 500px;
}

div.content-right img {
    max-width: 250px;
    padding: 0 5%;
    padding-bottom: 20px;
    max-height: 500px;
}

div.content-img {
    text-align: center;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1000px) {
    div.content-right {
        clear: both;
        float: none;
        width: 100%;
        min-height: 100px;
        float: none;
    }
    div.content-left {
        width: 100%;
    }
    div.content-left img {
        max-width: 90%;
        height: auto;
    }
    div.content-right img {
        max-width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 1000px) {
    .clicked-navwrap {
        position: fixed;
        z-index: 999;
        left: 0;
        top: 56px;
        width: 100%!important;
        height: 100%!important;
        overflow: auto;
        overflow-x: hidden;
        background: rgb(25, 118, 210);
        transition: 1s width ease-in-out;
    }
    .clicked-colour {
        background: #2C3E50!important;
    }
    .clicked-li {
        display: block!important;
        width: 100vw!important;
        text-align: center!important;
        padding: 0px!important;
    }
    .clicked-left {
        float: none!important;
    }
    .clicked-right {
        float: none!important;
        height: auto!important;
    }
    .clicked-pref {
        position: relative!important;
        box-shadow: none!important;
        border-radius: 0!important;
    }
    #nav-items {
        width: 0px;
    }
    div#nav-bar li {
        display: none;
    }
    div#nav-bar li a {
        padding: 0px;
        width: 100%;
    }
    #nav-bar .fa-bars {
        display: inline-block;
        float: right;
    }
    #nav-bar div.nav-right .social,
    div#setPref {
        display: none;
    }
}

#mobile-toggle {
    display: none;
}

@media (max-width:720px) {
    .info-top,
    #selectProduct {
        margin-top: 96px;
    }
    #mobile-toggle {
        display: block;
        position: fixed;
        z-index: 200;
        width: 100%;
        height: 30px;
        padding-top: 66px;
        background: white;
        color: black;
        text-align: center;
        border-bottom: 2px solid black;
        cursor: pointer;
    }
    #mobile-toggle i {
        margin-left: 10px;
    }
    #left-column {
        float: none;
        position: absolute;
        z-index: 100;
        width: 100%;
        line-height: 30px;
    }
    .inner-left {
        width: 90%;
        padding: 0 5%;
    }
    .open-column {
        display: none;
    }
    #right-column {
        float: none;
        width: 100%;
        padding: 0;
    }
}


/*END MEDIA */
