* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    color: #546E7A;
}

html {
    min-height: 100%;
}

body {
    min-height: 100%;
}


/*NAV BAR STYLE*/

div#nav-bar {
    position: absolute;
    height: 56px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.26) 0%, rgba(0, 0, 0, 0) 73%, rgba(0, 0, 0, 0) 100%);
    /*linear-gradient(to bottom, rgba(0,0,0,0.26) 0%,rgba(0,0,0,0) 73%,rgba(0,0,0,0) 100%)#1976D2*/
    top: 0px;
    z-index: 900;
    transition: background ease 1s;
}

#nav-bar div.nav-logo {
    height: 100%;
    float: left;
    height: 36px;
    padding: 10px 10px;
    width: 110px;
}

#nav-bar div.nav-logo img {
    width: 90%;
    padding-left: 10%;
    height: 95%;
}

#nav-bar div.nav-logo img:hover {
    filter: none;
}

#nav-bar div.nav-logo:hover {
    background: #0166b7;
    opacity: 1;
}

#nav-items {
    height: 0;
    transition: 1s width ease-in-out;
}

#nav-bar div.nav-left {
    float: left;
}

#nav-bar div.nav-right {
    float: right;
    padding-top: 5px;
}

div#nav-bar li,
#nav-bar .fa-bars {
    display: inline-block;
    line-height: 56px;
    height: 100%;
    position: relative;
    min-width: auto;
    text-transform: uppercase;
    color: white;
}

#nav-bar .fa-bars:hover {
    background: white;
    color: #0166b7;
}

#nav-bar .fa-bars {
    display: none;
    padding-right: 15px;
    padding-left: 15px;
}

#nav-bar li {
    font-size: 1.05em;
}

#nav-bar .nav-left li:hover {
    background: white;
    transition: background 0.2s;
    border: none;
}

#nav-bar li a {
    color: white;
    text-decoration: none;
    line-height: 56px;
    display: inline-block;
    padding: 0 16px;
}

#nav-bar .nav-right li a {
    padding: 0 8px;
}

div#nav-bar .nav-left li a:hover {
    color: #0166b7;
}

div#nav-bar .nav-right li a:hover {
    opacity: 0.6;
}


/*CUSTOMISE CONTROLS*/

#setPref {
    display: inline;
    height: 100%;
}

.options {
    display: none;
    top: 100%;
    background: rgb(25, 118, 210)!important;
    color: white;
    left: 0;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 6px 6px;
}

ul.options li {
    display: block!important;
    text-transform: capitalize!important;
}

ul.options li:hover {
    background: rgb(25, 118, 210)!important;
}

.expand {
    position: absolute!important;
    display: inline-block!important;
}

.open-color {
    background: #ffffff!important;
    color: #1976D2!important;
}


/*header style*/

.header {
    min-height: 416px;
    width: 100%;
}

.header.about {
    background: none;
}

.header-wrap {
    width: 100%;
    height: 100%;
    min-height: 416px;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(2, 131, 229, 1) 1%, rgba(91, 172, 229, 1) 59%, rgba(195, 215, 229, 1) 100%);
}

.header-wrap.about {
    background: linear-gradient(145deg, #0D47A1, #42A5F5)
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#logocanvas {
    width: 100%;
}


/*falling paper animation*/

.falling-papers {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 550px;
    border: 0px solid #fff;
    border-radius: 0px;
    min-height:100vh;
    background-size: cover;
    overflow: hidden;
}

.paper-scene {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    transform-style: preserve-3d;
    /*background: linear-gradient(145deg, #0D47A1, #42A5F5);*/
}

div.paper-scene div {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 60px;
    background: url("images/falling-paper.png") no-repeat;
    background-size: 100%;
    transform-style: preserve-3d;
    backface-visibility: visible;
}


/*clouds animation */

.sky {
    height: 100%;
    /*background: linear-gradient(to bottom, rgba(2,131,229,1) 1%,rgba(91,172,229,1) 59%,rgba(195,215,229,1) 100%);*/
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0)
}

.clouds_one {
    background: url(images/cloud_01.png);
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    height: 500px;
    width: 300%;
    -webkit-animation: cloud_one 50s linear infinite;
    -moz-animation: cloud_one 50s linear infinite;
    -o-animation: cloud_one 50s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0)
}

.clouds_two {
    background: url(images/cloud_02.png);
    position: absolute;
    left: 0;
    top: 50px;
    height: 500px;
    width: 300%;
    -webkit-animation: cloud_two 75s linear infinite;
    -moz-animation: cloud_two 75s linear infinite;
    -o-animation: cloud_two 75s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0)
}

.clouds_three {
    background-image: url(images/cloud_03.png);
    position: absolute;
    left: 0;
    top: 70;
    height: 500px;
    width: 300%;
    -webkit-animation: cloud_three 100s linear infinite;
    -moz-animation: cloud_three 100s linear infinite;
    -o-animation: cloud_three 100s linear infinite;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0)
}

@-webkit-keyframes cloud_one {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-webkit-keyframes cloud_two {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}

@-webkit-keyframes cloud_three {
    0% {
        left: 0
    }
    100% {
        left: -200%
    }
}


}
@-moz-keyframes cloud_one {
    0% {
        left: 0
    }
    
    100% {
        left: -200%
    }
}
@-moz-keyframes cloud_two {
    0% {
        left: 0
    }
    
    100% {
        left: -200%
    }
}
@-moz-keyframes cloud_three {
    0% {
        left: 0
    }
    
    100% {
        left: -200%
    }
}

/*HEADER STYLE*/
div.header-content {
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    z-index: 100;
    text-align: center;
    min-height: 250px;
}
div.header-left {
    max-width: 500px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
div.header-right {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
div.header-right #videoBtn:hover {
    opacity: 0.8;
}
img.logo {
    max-width: 400px;
}
h1 {
    position: relative;
    z-index: 2;
    font-size: 5em;
    font-weight: bold;
    color: white;
}
h2 {
    position: relative;
    z-index: 2;
    color: white;
    padding: 4px;
}
#demoBtn {
    background: green;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 1em;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#demoBtn:hover {
    background: #97e597;
}
#demoBtn:active {
    background: darkgreen;
}
h1.dark,
h2.dark {
    color: black;
}
img#icon {
    width: 80px;
    position: relative;
    z-index: 2;
}

/*Body style*/
.content a {
    text-decoration: none;
    color: #0166b7;
}
.content {
    /*margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.75);
    border-radius: 6px;*/
}
#content-wrap {
    position: absolute;
    top: 56px;
    /*width: 95%;
    max-width: 1200px; */
    
    left: 0;
    right: 0;
    margin: 0 auto;
}
#content-info {
    position: relative;
}
div.content-top {
    /*text-align: center;*/
    
    height: 150px;
    background: #ffffff;
}
div.content-top .video-wrap {
    position: absolute;
    top: -80px;
    border-radius: 6px;
    box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    left: 0;
    right: 0;
    padding-bottom: 5px;
    max-width: 450px;
    width: 95%;
    height: auto;
}
div.content-top iframe {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 250px;
    border-radius: 6px 6px 0 0;
}
div.content-top video {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    height: auto;
    border-radius: 6px 6px 0 0;
}
div.content-top .control {
    display: inline-block;
    width: 10%;
    text-align: center;
}
div.content-top .fa {
    color: rgb(25, 118, 210);
}
div.content-top .progressTime {
    display: inline-block;
    width: 15%;
    text-align: center;
}
div.content-top .progressBar {
    position: relative;
    width: 50%;
    height: 10px;
    background-color: #000;
    display: inline-block
}
div.content-top .timeBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ccc;
}
div.content-top .muted {
    display: inline-block;
    width: 5%;
    text-align: center;
}
div.content-top .volumeBar {
    position: relative;
    width: 15%;
    height: 10px;
    background-color: #ccc;
    display: inline-block;
}
div.content-top .volume {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(25, 118, 210);
}
div#main-head {
    width: 100%;
    max-height: 250px;
    background: #ffffff;
    text-align: center;
}
h3 {
    font-size: 2em;
}
.content-1 h3 {
    display: block;
    padding: 15px;
    color: #262223;
}
.content-1 i {
    color: #262223;
}
.content-1.contact i {
    color: #546e7a;
}
div.content-1 {
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
    background: #ffffff;
    margin-top: 0;
    height: auto;
    border-top: 30px solid #f5f5f5;
    transition: height 1s ease-in-out;
}
div.what-tag {
    display: inline-block;
    width: 30%;
    min-width: 170px;
    min-height: 200px;
    background: #f5f5f5;
    margin: 10px 1.2%;
    border-radius: 6px;
    text-align: center;
    height: 250px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.7s;
}
div.what-tag i {
    color: #546e7a;
}
div.what-content {
    display: none;
    text-align: left;
}
.what-clicked {
    /*display:block!important;*/
    
    margin: 10px auto!important;
    display: block!important;
    width: 100%!important;
    height: auto!important;
    transition: height 1s ease-in-out!important;
}
div.what-inner {
    margin: 10%;
    height: 80%;
}
div.what-inner img {
    width: 100px;
    padding: 30px 20px 30px 20px;
    transition: 1s;
}
.what-hover {
    width: 130px;
    padding: 5px;
    transition: 1s;
}
.content ul {
    margin-left: 20px;
}
div.content-width-wrap {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}
div.content-tagline {
    width: 92%;
    padding: 20px 4%;
    background: #0067b1;
    text-align: center;
    color: whitesmoke;
    margin: 40px 0;
}
div.content-tagline.no-margin {
    margin: 0px;
    height: 20px;
}
div.content-2 {
    width: 92%;
    padding: 4%;
    background: #f5f5f5;
}
div.content-2 p {
    font-size: 1em;
    text-align: justify;
}
div.content-2 .screenshot,
.text-logo {
    margin: 0 0 0 4%;
    float: right;
    width: 92%;
    max-width: 500px;
}
h4 {
    font-size: 1.5em;
}
h5 {
    font-size: 1.3em;
    font-weight: normal;
}
div.content-2 p {
    font-size: 1em;
    text-align: justify;
}
div.content-full {
    position: relative;
    width: 100%;
    direction: inline-block;
}
div.content-left {
    position: relative;
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
    margin-right: 5%;
}
div.content-right {
    position: relative;
    width: 44%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 20px 0;
}
div.content-left img {
    max-width: 350px;
    padding: 5%;
    max-height: 500px;
}
div.content-right img {
    max-width: 350px;
    padding: 5%;
    max-height: 500px;
}
div.content-3 {
    position: relative;
    width: 92%;
    padding: 4%;
    background: #e6e6e6;
    z-index: 0;
}
div.content-4 {
    position: relative;
    width: 92%;
    padding: 4%;
    background: #2C3E50;
    z-index: 0;
    color: whitesmoke
}
div.content-5 {
    width: 92%;
    padding: 4%;
    min-height: 480px;
    background: #5394ac;
}
div.content-width-wrap.logos {
    min-height: 100px;
    margin-bottom: 50px;
}
.fdLogo {
    float: right;
    max-height: 90px;
}
.ascotLogo {
    float: left;
    max-height: 100px;
    margin-left: 7%;
}
.content-img {
    text-align: center;
}

/*FOOTER*/
#footer {
    padding: 20px 0;
    width: 100%;
    background: #0166b7;
    color: #ffffff;
    /*box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);*/
}
#footer ul {
    list-style: none;
}
#footer ul a {
    text-decoration: none;
    color: #ffffff;
}
#footer ul a:hover {
    text-decoration: none;
    color: #000000;
}
.footer-left {
    float: left;
    width: 50%;
}
.footer-right {
    float: right;
    width: 49%;
}
.footer-bottom {
    clear: both;
    width: 100%;
    font-size: 0.9em
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1000px) {
    .clicked-navwrap {
        position: fixed;
        z-index: 999;
        left: 0;
        top: 56px;
        width: 100%!important;
        height: 100%!important;
        overflow: auto;
        overflow-x: hidden;
        background: rgb(25, 118, 210);
        transition: 1s width ease-in-out;
    }
    
    .clicked-colour {
        background: #2C3E50!important;
    }
    
    .clicked-li {
        display: block!important;
        width: 100vw!important;
        text-align: center!important;
        padding: 0px!important;
    }
    
    .clicked-left {
        float: none!important;
    }
    
    .clicked-right {
        float: none!important;
        height: auto!important;
    }
    
    .clicked-pref {
        position: relative!important;
        box-shadow: none!important;
        border-radius: 0!important;
    }
    
    h1 {
        font-size: 11vw;
    }
    
    h2 {
        font-size: 8vw;
    }
    
    h3 {
        font-size: 1.5em;
    }
    
    #nav-items {
        width: 0px;
    }
    
    div#nav-bar li {
        display: none;
    }
    
    #nav-bar li a {
        padding: 0px!important;
        width: 100%;
    }
    
    #nav-bar .fa-bars {
        display: inline-block;
        float: right;
    }
    
    #nav-bar div.nav-right .social,
    div#setPref {
        display: none;
    }
    
    .header-wrap:not(.cloud-wrap) {
        min-height: 100vh;
    }
    
    div.header-right #videoBtn {
        margin: 10% 0;
        width: 200px;
        height: 200px;
    }
    
    div.content-right {
        clear: both;
        float: none;
        width: 100%;
        min-height: 100px;
        float: none;
    }
    
    div.content-left {
        width: 100%;
    }
    
    div.content-2 iframe {
        width: 100%;
        max-width: 100%;
    }
    
    div.content-left img {
        max-width: 90%;
        height: auto;
    }
    
    div.content-right img {
        max-width: 90%;
        height: auto;
    }
    /*MAIN CUSTOM VIDEO*/
    
    div.content-top .control {
        width: 10%;
        height: 20px;
    }
    
    div.content-top .progressTime {
        display: none;
    }
    
    div.content-top .progressBar {
        width: 75%;
        height: 10px;
    }
    
    div.content-top .muted {
        height: 20px;
        width: 10%;
    }
    
    div.content-top .volumeBar {
        display: none;
    }
    
    .fdLogo {
        float: none;
        max-width: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .ascotLogo {
        float: none;
        max-width: 250px;
        margin-left: 0%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    img.logo {
        max-width: 250px;
    }
}

/*END MEDIA */
@keyframes test {
    0% {
        color: black;
        opacity: 0
    }
    
    25% {
        opacity: 0.25
    }
    
    50% {
        opacity: 0.5
    }
    
    75% {
        opacity: 0.75;
        color: black;
    }
    
    100% {
        color: green;
        opacity: 1;
        margin-top: 5%;
        margin-left: 50%;
        transform: translateZ(0.1px)
    }
}

/*CONTACT CSS*/
div.contact-form {
    padding: 15px;
    width: auto;
    background: rgba(0, 0, 0, 0.5);
    display: inline-block;
    border-radius: 3px;
    border: 2px solid white;
}
div.contact-form input {
    width: 100%;
    margin: 5px 0;
    height: 30px;
    font-size: 20px;
}
div.contact-us {
    color: white;
}

/*about css*/

/*POP-UP STYLE*/
#pop-up {
    display: none;
    /* Hidden by default */
    
    position: fixed;
    /* Stay in place */
    
    z-index: 999;
    /* Sit on top */
    
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    
    height: 100%;
    /* Full height */
    
    overflow: auto;
    /* Enable scroll if needed */
    
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Pop-up Header */
.popup-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Pop-up Body */
.popup-body {
    padding: 16px 16px;
}
popup-bodywrap {}

/* Pop-up Footer */
.popup-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Pop-up Content */
.createEmail {
    width: 150px;
    height: 30px;
}
.popup-content {
    position: relative;
    background-color: #fefefe;
    margin: 100px auto 0 auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    max-width: 920px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.popup-content h2 {
    display: inline-block;
}

/*POP-UP STYLE*/
#pop-upVid {
    display: none;
    /* Hidden by default */
    
    position: fixed;
    /* Stay in place */
    
    z-index: 999;
    /* Sit on top */
    
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    
    height: 100%;
    /* Full height */
    
    overflow: auto;
    /* Enable scroll if needed */
    
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Pop-up Body */
.popup-body {
    padding: 16px 16px;
}
popup-bodywrap {}

/* Pop-up Footer */
.popup-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Pop-up Content */
#pop-upVid .popup-content {
    height: 50%;
}
#main-vid {
    position: absolute;
    width: 90%;
    height: 80%;
}
.popup-content h2 {
    display: inline-block;
}

/*END POPUP VID */

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    
    to {
        top: 0;
        opacity: 1
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    
    to {
        top: 0;
        opacity: 1
    }
}


#twitter-widget-0 { 
 box-shadow: rgba(0, 0, 0, 0.239216) 0px 2px 5px 0px;   
}
