@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#f2f2f2;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}

/* Custom CSS
 * --------------------------------------- */
body{
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-family: 'Roboto Condensed', sans-serif;
    background:black;

	color: #f2f2f2;
    /*animation: fadein 1.5s;*/
}

h1{
	font-family: 'Press Start 2P', cursive;
	font-size: 6em;
}
p{
	font-size: 2em;
}
.section{
	text-align: center;
}

/* Menu
 * --------------------------------------- */
#menu li {
	display:inline-block;
	color: rgba(255,255,255,0.5);
	

}
#menu li.active{
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: rgba(255,255,255,0.5);
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.2);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}

#menu li a.last{

}

#menu{
    display: flex;
	justify-content: space-between;
    display: inline;
    max-width: 1200px;
}

#nav-bar{
	position: fixed;
    top: 0;
    left: 0;
    z-index: 70;
    width: 100%;
    padding: 15px 0 0 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    
}
.intro{
       
    display: inline-block;
    max-width: 900px;
    text-align: left;
}
.intro-section-wrap{
    max-width: 900px;
    display: inline-block;
    animation: fadein 2.5s;
    animation-delay: 0.1s;
}
.intro p{
	max-width: 80vw;
	margin: 0 auto;
	font-size: 1.2em;
}


/* Section 1
 * --------------------------------------- */

.main #section1{

   /* background-image: url(campus2dark.jpg);
    background-size: cover;
    background-position-x: center;

*/
    

      background: radial-gradient(ellipse at center, rgba(2,106,170,0.6) 0%, rgba(0,0,0,0.8) 60%, rgba(0,0,0,1) 90%), url(grid.png);
    

    /*
    rgba(127,0,173,0.6)
    
    2 106 170
    
    http://natewren.com/rad-pack-80s-themed-hd-wallpapers/
    
    http://www.kaltblut-magazine.com/found-on-the-internet-kidmograph/
    
    http://shipadrift.com//images/static.gif
    
    http://68.media.tumblr.com/e5c2fbbea040663825fdd3f7b4051cd1/tumblr_nunuhzWaJq1tbgnn1o1_400.gif
    
    https://tchetcuti.files.wordpress.com/2016/01/grid-stars1.gif
    
    http://www.desktop-background.com/p/2012/05/19/392408_retro-80s-arcade-game-awesome-wallpapers-and-cool-backgrounds_1920x1080_h.jpg
    
    https://media.licdn.com/mpr/mpr/shrinknp_800_800/AAEAAQAAAAAAAAhoAAAAJDgzMDdjZjY3LTJlYjAtNDBjYi05ZTRmLTZjM2NkYjg2OWRlZg.png
    
    
    https://archive-media-0.nyafuu.org/wg/image/1419/65/1419654434693.jpg
    
    http://natewren.com/themes/wallpaper2/radpack/radpack_17.jpg
    
    http://orig12.deviantart.net/3531/f/2015/322/1/0/the_grid___komodo_upload_02_by_winampers_pro-d9h4oaw.png
    
    giphy.webp
    */
    background-size:cover;
    background-position-x:center;
    
/*
    background: radial-gradient(ellipse at center, rgba(127,0,173,0.6) 0%, rgba(0,0,0,0.8) 60%, rgba(0,0,0,1) 90%), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/31787/stars.jpg);
    
*/
    /*
    animation: backgroundFade 4s;
    */
}

#section1 h1{
    font-size: 3em;
}
#section1 p{
	color: white;
}


/* Section 2
 * --------------------------------------- */


/* Section 3
 * --------------------------------------- */

#section3 p{

}

/* Section 4
 * --------------------------------------- */
#section4 p{

}

/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
.pp-tableCell{
    text-align: center;
}
.section{
    opacity:0;
        border-radius: 6px;

}
.active{
    opacity: 1;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
}
#pp-nav.custom .pp-tooltip{
	color: #AAA;
}

#pp-nav span{
    background: rgba(255, 255, 255, 0.35);
}
#pp-nav li .active span, .pp-slidesNav .active span{
    background: whitesmoke;
}
.twitter-share-button{
	position: fixed;
	z-index: 99;
	right: 149px;
	top: 9px;
}
#starGithub{
	position: fixed;
	z-index: 99;
	right: 264px;
	top: 9px;
	width: 90px;
}


.count-container {
  text-align: center;
}
.countdown{
	margin:0px;
	padding-left:0px;
}
.countdown li {
  display: inline-block;
  font-size: 1.3em;
  list-style-type: none;
  padding: 0.4em;
  text-align: center;
  text-transform: uppercase;
}

.countdown li span {
  display: block;
  font-size: 2.2rem;
}

	h1{
	font-size:1.4em;
			text-shadow: 0 1px 4px rgba(0,0,0,0.25);
            }
		
	#banner{
		padding:0px;
	}
    .main #main-logo{
        max-height: 250px;
    }   
    
    .main #main-logo-svg{
        max-width:650px;
    }
 #main-logo-svg{
        max-width:425px;
    }
    
        #main-logo-svg path{
 /* -webkit-animation: svgColor 10s ease infinite;
-moz-animation: svgColor 10s ease infinite;
animation: svgColor 10s ease infinite;*/
    }
    
    .logo-wrap{
        margin-bottom:30px;
		-webkit-filter:brightness(1.2);
		        filter:brightness(1.2);
    }

#signup-form{
    margin-top:30px;
}

.main .logo-wrap {
    -webkit-animation: fadeinLogo 2.6s;
            animation: fadeinLogo 2.6s;
}

.main #signup-form{
        -webkit-animation: fadeinDelay 2.6s;
                animation: fadeinDelay 2.6s;

}

.main #strapline{
    -webkit-animation: fadeinDelay 2.6s;
            animation: fadeinDelay 2.6s;
}

#menu{
    
}
@media screen and (min-width: 700px) {

.main #menu{
    -webkit-animation: fadeinDelay 3s;
            animation: fadeinDelay 3s;
}
    #menu{
top: 15px;
    left: 15px;
    background: none;
}

}

#main-background{
     position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    min-height: 100vh;
    z-index:-1;
    -webkit-filter: opacity(0.3);
            filter: opacity(0.3);
    margin:0px!important;
    
/*    animation: backgroundFade 4s;*/
    color: black;
}

.section{
    background:none;

}

.brand-blue{
	background-color:#292644;
}
.brand-green{
	background-color:rgb(47,172,104);
}
.brand-red{
	background-color:#D93721;
}
.brand-yellow{
	background-color:#EBCC2F;
}

#nav-button{
    display: none;
    position: fixed;
    top:20px;
    right:20px;
    z-index: 200;
}




.menu-click{
    display: block !important;
    position: fixed !important;
    width: 100vw !important;
    min-height: 100vh !important;
    background: black !important;
    top:0px;
    left:0px;
    z-index: 100;
    padding-top:40px;
}

.menu-click li{
        width: 100%;
    text-align: center;
    margin-top: 2em;
}
.menu-click li a{
    font-size: 2em;
}
.pop-up-container{
    position: absolute;
    left:0;
    top:0;
    background:radial-gradient(ellipse at center, rgba(22, 106, 173, 0.6) 0%, rgba(0,0,0,0.8) 80%, rgba(0,0,0,1) 90%);
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 6px;
}
.pop-up{
    -webkit-box-shadow: 0px 0px 5px 0px black;
    box-shadow: 0px 0px 5px 0px black;
    border-radius: 6px;
    max-width: 700px;
    background:black;
    display: inline-block;
    width: 80%;
    max-width: 920px;
    position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.pop-up .close{
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 50px;
    cursor: pointer;
}

.active-pop-up{
    display: block;
}

.pop-up-text{
    margin: 50px 0px;
    text-align: left;
}
.pop-up-text h1{
margin-bottom: 20px;
    padding: 0px 10px;
    text-align: center;
}

button.pop-up-button, a.pop-up-button{
    margin: 10px;
    padding: 10px;
    background: white;
    color:black;
}

#hack-video{
    max-width:250px;
    max-height: 250px;
    width:50vw;
    height:50vw;
    border:6px solid black;
    border-radius: 6px;
}

.questions-left{
display: inline-block;
    width:40%;
    text-align: center;
    min-width: 300px;
    vertical-align: top;
}

.video-right{
    display: inline-block;
    width:40%;
    text-align: center;
    width: 300px;
    max-width: 80vw;

}
.count-container{
    margin-bottom: 15px;
}
#email{
    width:18em; display:inline-block; border: solid 2px rgba(255, 255, 255, 1);     height: 2.75em;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    padding: 0 1em; color:#fff; max-width: 220px;
}
#main-submit{
    background: #26ae5c;
    margin-left: 10px;
    height: 3em;
    padding: 0 1.25em;
    border-radius: 5px;
    border: 0;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
    color: #ffffff !important;
}


   
 @-webkit-keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }

}
   
 
@keyframes fadein {
    0% { opacity: 0; }
    100%   { opacity: 1; }

}

@-webkit-keyframes fadeinLogo {
    0% { opacity: 0; }
    30%   { opacity: 0; }
    100%   { opacity: 1; }

}
   
 
@keyframes fadeinLogo {
    0% { opacity: 0; }
    30%   { opacity: 0; }
    100%   { opacity: 1; }

}

@-webkit-keyframes fadeinDelay {
    0% { opacity: 0; }
    50% {opacity: 0;}
    100%   { opacity: 1; }
}

@keyframes fadeinDelay {
    0% { opacity: 0; }
    50% {opacity: 0;}
    100%   { opacity: 1; }
}

#body-wrapper{
/*
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
*/
}
.gradient-border, body {
    background:#0d0e0e;
}
.gradient-border {
       --borderWidth: 7px;
    position: absolute;
    border-radius: var(--borderWidth);
    height: calc(100% - 4 * var(--borderWidth) );
    top: calc(2* var(--borderWidth) );
    left: calc(2* var(--borderWidth));
    width: calc(100% - 4 * var(--borderWidth) );
}


.gradient-border:after {
  content: '';
  position: absolute;
   border-radius: calc(2 * var(--borderWidth));
    top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
   /*background:linear-gradient(60deg, #13420d 0%,#0c4f0f 11%,#157019 24%,#1b8e20 37%,#21a521 51%,#65af59 62%,#79d374 77%,#a1e0a1 87%,#95f49a 100%);*/
   background: -webkit-linear-gradient(30deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
   background: -o-linear-gradient(30deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
   background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  z-index: -1;
  -webkit-animation: animatedgradient 14s infinite;
          animation: animatedgradient 14s infinite;
  background-size: 300% 300%;
}


@-webkit-keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
	height: 60px;
	width: 62px;
	margin: 0px 0 0 -40px;

	
	bottom: 25px;

	text-align: center;
	font-size: 70px;
	z-index: 50;
	
	
	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
	animation:         ca3_fade_move_down 2s ease-in-out infinite;
    
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}



.grain {
  max-width: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.5;
  pointer-events: none;
}

@media screen and (max-width: 700px) {
    #menu li{
        font-size: 0.65em;
    }
    
}

@media screen and (max-width: 700px) {
    
    #menu{
        display: none;
    }
    
    #nav-button{
        display: block;
    }

    body{
        font-size: 0.7em;
    }
    
    #main-logo-svg{
        max-width: 90%;    
    }
    
    #pp-nav.right{
        right:7px;
        z-index: 50;
    }
        .pop-up-text h1{
    font-size:15px;
}
    .pop-up-text p{
    font-size:14px;
}
    .pop-up-close{
        
    }
    .ca3-scroll-down-arrow{
        width:30px;
        height: 30px;
            left: calc(50% + 30px);
    }
    .intro{
        margin-top:15px;
    }
    .grain {
        display: none;
}
    .countdown li{
        font-size:0.9em;
    }
    .countdown li span{
        font-size:2em;
    }
    .logo-wrap{
        margin-bottom: 15px;
    }
    #email{
        width:50%;
        height: 2.2em
    }
    #main-submit{
        margin-left: 5px;
        height: 2.5em;
        padding: 0 1.1em;
    }
    .count-container{
        margin-bottom: 10px;
    }
    #signup-form{
        margin-top:15px;
    }
    
    .pop-up-text{
        40px 0 10px 0px
        
    }
    
    .pop-up .close{
            top: -5px;
    right: 5px;
    }
    
    .intro p{
        font-size: 0.9rem;
    }
    
    .intro h1{
        font-size: 1rem;
    }
}